<!-- Video No.7.6 
// // Goal: Dynamic Pages with Templating  :Delete about.html file
// //           ########################################################################################### -->

<!DOCTYPE html>

<html>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <head>
        <link rel="stylesheet" href = "/css/styles.css">
    </head>
    <body>
            <div class="main-content"> 

            {{>header}}
        <!--To add Image-->
        <img class = "portrait" src = "/img/pic.jpg">

            </div>


        
        {{> footer}}
    </body>
</html>