<!DOCTYPE html>

<html>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <head>
        <link rel="stylesheet" href = "/css/styles.css">
    </head>
    <body>
            <div class="main-content"> 

            {{>header}}
            <p>This site was created by Rahul Raj. It uses data from mapbox.com and weatherstack.com</p>
        <!--To add Image-->
        <img class = "portrait" src = "/img/pic1.jpg">

            </div>


        
        {{> footer}}
    </body>
</html>